{% load static %}

<style>
    .panel {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/stevillis-logo-64.png' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link h5" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5" href="{% url 'products' %}">Products</a>
            </li>
        </ul>
    </div>

    <span class="panel">Hello, {{ request.user }}</span>
    <span class="panel"><a href="{% url 'logout' %}">Logout</a></span>
</nav>